<div>
    <h1>Resumen</h1>

    <p>Una galería virtual es la que se ha creado empleando un soporte gráfico e informático para mostrar las obras expuestas en un medio como internet.</p>

    <%= link_to 'Galeria', galeria_index_path %>
</div>